---
const {content} = Astro.props;

function createArrayFromHeading(): [string, string] {
  const sentence = content.heading;
  const words = sentence.split(' ');
  const lastWord = words.pop(); // Remove and capture the last word
  const restOfString = words.join(' '); // Re-join the remaining words
  return [restOfString, lastWord ?? '']; // Return the array, handling the case where the sentence might be empty
}

---
<div class="relative pt-40 pb-20 lg:pt-44" id="hero-section">
    <div class="relative xl:container m-auto px-6 md:px-12 lg:px-6 sm:w-10/12 md:w-2/3 sm:mx-auto lg:w-6/12">
        <h1 class="sm:mx-auto sm:w-10/12 md:w-full font-black text-blue-900 text-4xl text-center sm:text-5xl md:text-6xl lg:w-auto xl:text-7xl dark:text-white">
            {createArrayFromHeading()[0]} <br class="lg:block hidden"> <div class="tooltip relative inline-block text-transparent bg-clip-text bg-gradient-to-r dark:bg-gradient-to-l from-gradient1 to-gradient2 dark:from-primaryLight dark:to-secondaryLight">{createArrayFromHeading()[1]}
                <span class="hidden md:block tooltiptext w-full md:w-max text-sm font-light italic bg-gray-500/90 text-white">{content.note}</span>
            </div>
            
        </h1>
        <!-- <p class="block md:hidden italic text-center text-sm text-gray-400 mt-4" set:html={content.note}></p> -->
        <div class="relative mt-8 lg:mt-16 space-y-8 w-10/12 mx-auto text-center">
            <p class="sm:text-lg text-gray-700 dark:text-gray-300" set:html={content.subheading}>
            </p>
        </div>
    </div>
    <div class="mt-12 relative h-[600px] mx-auto max-w-[700px] overflow-hidden">
      <img src="/code-screenshot.png" class="border-gray-100 border-2 rounded-[6px] w-auto max-h-[600px] absolute -left-12 bottom-4 opacity-50" alt="code example">
      <img src="/mate-screenshot.png" class="border-gray-200 border-2 rounded-[6px] w-auto max-w-[85%] max-h-[600px] absolute bottom-0 right-4" alt="mate illustration">
    </div>
    <!-- <div class="mt-16 max-md:hidden flex justify-around items-center xl:container mx-auto">
        <img src="/code-screenshot.png" class="border-black-900 border-2 rounded-[6px] w-auto max-h-[600px]" alt="mate illustration" loading="lazy">
        <div class="text-5xl">➡️</div>
        <img src="/mate-screenshot.png" class="border-black-900 border-2 rounded-[6px] w-auto max-h-[600px]" alt="mate illustration" loading="lazy">
    </div> -->
</div>
<style>
.tooltip .tooltiptext {
    visibility: hidden;
    /* background-color: #555;
    color: #fff; */
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    bottom: -50%;
    right: 50%;
    transform: translateX(50%);

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
</style>